@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');

:root {
    --lightBlue: #66E2DC;
    --lightRed: #FA7453;
    --lightYellow: #FFB964;
    --light: #FCFAF9;
    --dark: #191826;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

html,
body {
    position: relative;
    overflow-x: hidden;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1rem;
    background-image: url(../img/bg-main-mobile.png);
    background-repeat: no-repeat;
    background-position: top -250px left;
    background-size: auto;
}

@media (min-width: 768px) {
    body {
        background-image: url(../img/bg-main-tablet.png);
        background-position: top -112px left -293px;
    }
}

@media (min-width: 1200px) {
    body {
        background-image: url(../img/bg-main-desktop.png);
        background-position: top -112px left -146px;
    }
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.container {
    width: calc(100% - 3rem);
    margin: 0 auto;
}

@media (min-width: 768px) {
    .container {
        max-width: 696px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1110px;
    }
}

@media (min-width: 768px) {
    .header {
        position: relative;
    }
}

.header__logo {
    display: inline-block;
    width: 146px;
    height: 32px;
    margin-top: 2.5rem;
}

@media (min-width: 768px) {
    .header__logo {
        margin-top: 3.875rem;
    }   
}

.bg-hero-pattern {
    display: none;
}

@media (min-width: 768px) {
    .bg-hero-pattern {
        display: block;
        position: absolute;
        top: -32px;
        right: -74.5px;
        width: 266.67px;
    }
}

@media (min-width: 1200px) {
    .bg-hero-pattern {
        top: -40px;
        right: -165px;
        width: 312px;
    }
}

.hero {
    margin-top: 4rem;
    color: var(--dark);
}

@media (min-width: 768px) {
    .hero {
        margin-top: 5.938rem;
        width: 520px;
    }
}

@media (min-width: 1200px) {
    .hero {
        margin-top: 7.938rem;
        width: 1015px;
    }
}

.hero__title {
    font-size: 2.5rem;
    line-height: 48px;
    font-weight: 700;
    letter-spacing: -0.45px;
}

@media (min-width: 768px) {
    .hero__title {
        font-size: 4rem;
        line-height: 64px;
        letter-spacing: -0.73px;
    }
}

@media (min-width: 1200px) {
    .hero__title {
        font-size: 5.5rem;
        line-height: 88px;
        letter-spacing: -1px;
    }
}

.hero__description {
    margin-top: 1.25rem;
    font-size: 1rem;
    line-height: 26px;
}

@media (min-width: 768px) {
    .hero__description {
        margin-top: 1.75rem;
        font-size: 1.125rem;
        line-height: 28px;
        width: 514px;
    }
}

@media (min-width: 1200px) {
    .hero__description {
        margin-top: 2.5rem;
        font-size: 1.25rem;
        line-height: 34px;
        width: 825px;
    }
}

.main {
    margin: 10.375rem 0 0;
    height: 600px;
    background-color: var(--dark);
    background-image: url(../img/bg-pattern-2.svg);
    background-repeat: no-repeat;
    background-size: 280px 420px;
    background-position: top center;
    border-radius: 12px;
    position: relative;
}

@media (min-width: 768px) {
    .main {
        margin: 15.563rem auto 0;
        max-width: 696px;
        background-position: left 229px top -31px;
    }
}

@media (min-width: 1200px) {
    .main {
        margin: 20.063rem auto 0;
        max-width: 1110px;
        background-position: left 336px top -40px;
        background-size: 312px 468px;
    }
}

.app-illustration {
    width: 209px;
    margin: 0 auto;
    position: absolute;
    top: -98px;
    left: 50%;
    transform: translateX(-50%);
}

@media (min-width: 768px) {
    .app-illustration {
        width: 270.21px;
        top: -138px;
        left: 64px;
        transform: translateX(0);
    }
}

@media (min-width: 1200px) {
    .app-illustration {
        width: 312px;
        top: -213px;
        left: 102px;
    }
}

.premium {
    position: absolute;
    top: 100%;
    margin-top: -220px;
    background-color: var(--lightRed);
    padding: 3rem 2.313rem 3rem 2.25rem;
    color: var(--light);
}

@media (min-width: 768px) {
    .premium {
        width: 399px;
        right: 58px;
        margin-top: -450px;
        border-radius: 12px;
        padding: 3rem 3.063rem 3rem 3rem;
    }
}

@media (min-width: 768px) {
    .premium {
        width: 446px;
        right: 95px;
        margin-top: -510px;
        padding: 3.625rem 3.688rem 3rem 3.375rem;
    }
}

.premium__title {
    font-size: 2rem;
    line-height: 40px;
}

@media (min-width: 1200px) {
    .premium__title {
        font-size: 2.5rem;
        line-height: 52px;
    }
}

.premium__description {
    margin-top: 0.75rem;
    font-size: 1.125rem;
    line-height: 28px;
}

@media (min-width: 1200px) {
    .premium__description {
        margin-top: 1.375rem;
        font-size: 1.25rem;
        line-height: 34px;
    }
}

.premium__price {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 4.063rem;
    line-height: 52px;
    font-weight: 700;
    margin-top: 2.25rem;
}

@media (min-width: 1200px) {
    .premium__price {
        margin-top: 2.438rem;
    }
}

.premium__price-span {
    font-size: 1.25rem;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: -0.2px;
}

.btns {
    margin: 2rem auto 0;
    display: grid;
    gap: 1rem;
    width: calc(100% - 6px);
}

@media (min-width: 1200px) {
    .btns {
        margin: 2.875rem auto 0;
    }
}

.btn {
    background-color: transparent;
    border: 0;
    padding: 0.938rem 0 0.875rem;
    font-family: inherit;
    font-size: 1.125rem;
    line-height: 32px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7.92px;
    border-radius: 12px;
    cursor: pointer;
}

.btn--ios {
    background-color: var(--dark);
    color: var(--light);
}

.btn--ios:hover {
    background-color: var(--lightBlue);
}

.btn--android {
    background-color: var(--light);
    color: var(--dark);
}

.btn--android:hover {
    background-color: var(--lightYellow);
}

.footer {
    margin-top: 24.375rem;
    padding-bottom: 5rem;
}

@media (min-width: 768px) {
    .footer {
        margin-top: 11.438rem;
        padding-bottom: 5.313rem;
    }
}

@media (min-width: 1200px) {
    .footer {
        margin-top: 12.625rem;
        padding-bottom: 5.688rem;
    }
}

@media (min-width: 1200px) {
    .footer__container {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 137.76px;
        align-items: flex-start;
    }
}

.footer__logo {
    width: 146px;
    height: 32px;
}

@media (min-width: 768px) {
    .footer__info {
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media (min-width: 1200px) {
    .footer__info {
        margin-top: 0;
    }
}

.footer__copyright {
    margin-top: 2rem;
    font-size: 1rem;
    line-height: 26px;
    color: var(--dark);
}

@media (min-width: 768px) {
    .footer__copyright {
        margin-top: 0;
        width: 366px;
    }
}

@media (min-width: 768px) {
    .footer__copyright-span-rights {
        display: block;
    }
}

.footer__copyright-span-email {
    margin-top: 1px;
    font-weight: 700;
    display: block;
}

@media (min-width: 768px) {
    .footer__copyright-span-email {
        margin-top: 0;
        display: inline;
    }
}

.footer__socials {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.footer__social {
    display: inline-flex;
    align-items: center;
}

@media (min-width: 768px) {
    .footer__socials {
        margin-top: 0;
    }
}